.login-content {
    height: calc(100vh - 56px);
    background-color: #614EA6;
}

.btn-login {
    background-color: #FFF;
    color: #614EA6;
}

.btn-login:hover {
    background-color: #F21667;
    color: #FFF;
}

.login-options a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    transition: .3s ease-in;
}

.login-options a:hover {
    text-decoration: none;
    color: #F21667;
}